[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-public-methods,
    no-self-use,
    duplicate-code,
    wrong-import-order

[IMPORTS]
known-third-party=
    airflow
